includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    checkTooWideParameterOutInProtectedAndPublicMethods: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkTooWideThrowTypesInProtectedAndPublicMethods: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    reportUnsafeArrayStringKeyCasting: prevent
    rememberPossiblyImpureFunctionValues: false
    reportIgnoresWithoutComments: true
    reportUnmatchedIgnoredErrors: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideImplicitThrowType: true
            throwTypeCovariance: true
